*{
    margin: 0;
    padding: 0;
    color: #ddf;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

em{
    font-size: 1em;
    font-style: none;
    color: #F2780C;
}

:root {
    --blue--1--: #0554F2;
    --blue--light--2: #1D64F2;
    --dark--blue--3--: #0B59BF;
    --orange--resalte--1--: #F2780C;
    --dark--orange--2--: #D9560B;
    --white--1--: #ddf;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:var(--blue--1--);
    background-color: var(--white--1--);
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "main"
    "main"
    "main"
    "footer"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 24vh;
}

.header{
    grid-area: header;
    background-image: url(./img/AlbedoBase_XL_Un_monton_de_billetes_de_diferentes_paises_1.jpg);
    position: relative;
    min-height: 140px;
}

.header__div__img {
    width: 140px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(8px 5px 10px #02163d);
    -webkit-filter: drop-shadow(8px 5px 10px #02163d);
}

.header__div__img:hover{
    width: 150px;
}

.main{
    min-width: 300px;
    grid-area: main;
    background-color: var(--dark--blue--3--);
    color: var(--white--1--);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5vw;
    margin: 30px 10px 30px 10px;
    @media (width >= 500px) { margin: 40px 25px 40px 25px }
}

.section {
    font-size: 16px;
    @media (width >= 500px){ font-size: 18px;}
}

.section__h1{
    color: var(--orange--resalte--1--);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section__h3{
    font-size: 0.8em;
    text-align: center;
    margin: 20px;
    @media (width >= 600px) { 
        font-size: 1em;
        margin-bottom: 60px;
    }
}

.section__p {
    font-size: 0.7em;
    margin-top: 20px;
    margin: auto;
    color: var(--orange--resalte--1--);
    text-align: center;
    font-weight: bold;
    @media (width >= 500px) {
        margin-top: 40px;
        font-size: 0.8em;
    }
}

.section__form{
    border: solid var(--white--1--) 2px;
    padding: 10px 10px 15px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    max-width: 1100px;
    @media (width >= 500px){ font-size: 18px}
    @media (width >= 1000px){ padding: 30px 20px}
}

.section__form__h2 {
    color: var(--orange--resalte--1--);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (width >= 600px) {font-size: 1.5rem}
}

.section__form__label, .section__form__input, .section__form__select{
    display: block;
    margin-top: 6px;
    font-size: 0.85em;
}

.section__form__select option{
    color: var(--dark--blue--3--);
}

.section__form__select, input{
    color: var(--blue--light--2);
    @media (width >= 500px) { margin: 5px 10px }
}

.section__form__button, .section__form__input--reset{
    display: inline-block;
    width: 130px;
    height: 40px;
    color: var(--white--1--);
    background-color: var(--dark--orange--2--);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    font-size: 1em;
    @media (width >= 500px) {
        width: 25vw;
        height: 45px;
    }
    @media (width >= 1000px) {margin-top: 40px;}
}

.section__form__button:hover, .section__form__input--reset:hover{
    background-color: var(--blue--light--2);
}

.section__form__div {
    display: none;
}

.section__form__div__p {
    font-size: 0.85em;
}

.section__form__div__p__span {
    color: var(--orange--resalte--1--);
    font-weight: bolder;
    font-style: italic;
}

.section__table {
    margin: 60px auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    font-size: 0.7rem;
    @media (width >= 600px) { font-size: 1rem;}
}

.section__table td {
    border: var(--white--1--) solid 1px;
    padding: 5px;
    font-weight: 400;
    font-size: 0.8em;
    @media (width >= 600px) { 
        font-size: 1rem;
        padding: 10px;
    }
    @media (width >= 1100px) { 
        min-width: 30vw;
    }
}

.section__table th{
    border: var(--white--1--) solid 1px;
    padding: 5px;
    font-size: 1rem;
    @media (width >= 600px) { 
        font-size: 1.2rem;
        padding: 10px;
    }
    @media (width >= 1100px) { 
        min-width: 30vw;
    }
}

.borde1{
    border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -ms-border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
}

.borde2{
    border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -ms-border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0;
}

.section__table__caption {
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--white--1--);
    color: var(--dark--blue--3--);
    border: var(--white--1--) solid 1px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    padding: 5px;
}


.footer{
    min-width: 300px;
    grid-area: footer;    
    background-color: var(--dark--blue--3--);
    color: var(--white--1--);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footer__section {
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: solid var(--white--1--) 2px;
    font-size: 1rem;
    @media (width >= 500px) {font-size: 1.5rem;}
}

.footer__section__a__img {
    width: 30px;
    margin: 10px;
}
.footer__section__a__img:hover {
    width: 40px;
}

.footer__section__h2{
    font-size: 1em;
    color: #F2780C;
}

.footer__section__small {
    margin: 10px;
    font-size: 0.5em;
    display: block;
}

.footer__section__h2--repo{
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer__section__a--repo{
    font-size: 0.7rem;
    color: var(--orange--resalte--1--);
}

.footer__section__a--repo:visited{
    font-size: 0.7rem;
    color: var(--white--1--);
}

.footer__section__a--repo:hover{
    font-size: 0.8rem;
}